<footer>
    <div class="footer-container">
        <div id="details">
            <p>*********************</p>
            <p>Copyright © Sunrise Mentors Pvt. Ltd.</p>
            <hr>
            <p>Author : Mohit Goswami</p>
        </div>
    </div>
</footer>