<header>
    <script src="https://kit.fontawesome.com/ede9b43825.js" crossorigin="anonymous"></script>
    <div class="container">
        <div class="head">
            <h1 id="text-heading">Codeial</h1>
        </div>
        <div class="options">
                <% if(locals.user) { %>
                    <a href="/users/profile" >
                        <!-- <%= user.name %> -->
                        UserProfile</i>
                    </a>
                    <a href="/users/sign-out" >
                        SignOut
                    </a>
                <% } else { %>
                    <a href="/users/sign-in" >
                        signIn
                    </a>
                    <a href="/users/sign-up" >
                        SignUp
                    </a>
                <% } %>
        </div>
     </div>  
</header>