<link rel="stylesheet" href="/css/user_sign_up.css">


<div class="box">
    
    <form id="sign-in" action="/users/create" method="post">
    <h1>Sign up</h1>
    <div class="inputbox">
    <input type="text" name="name" placeholder="Your Name" required>
    </div>
    <div class="inputbox">
    <input type="email" name="email" placeholder="Your Email" required>
    </div>
    <div class="inputbox">
    <input type="password" name="password" placeholder="password" required>
    </div>
    <div class="inputbox">
    <input type="password" name="confirm_password" placeholder="confirm password" required>
    </div>
    <div class="links">
        <p>
            <a href="/users/auth/google"><i class="fa-brands fa-google-plus-g"></i></a>
        </p>
    </div>
    
    <input id="btn" type="submit" value="Sign Up">
    
</form>


</div>
