<h1>sign in</h1>

<form action="/users/create-session" method="post
">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit" value="Sign In">
</form>


<!-- <section>
    <div class="form-box">
        <div class="from-value">
            <form action="">
                <h2>Login</h2>
                <div class="inputbox">
                    <i class="fa-light fa-envelope"></i>
                     <input type="email" required>
                     <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <i class="fa-light fa-lock"></i>
                    <input type="password" required>
                    <label for="">Password</label>
               </div>
               <div class="forget">
                    <label for=""><input type="checkbox" >Remember Me  <a href="#">Forget Password</a></label>
                   
               </div>
               <button type="submit">login</button>
               <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
               </div>
            
            </form>
        </div>
    </div>
</section> -->